# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf
LoRaSensorCode/build/gpio.lst
LoRaSensorCode/build/i2c.lst
LoRaSensorCode/build/main.lst
LoRaSensorCode/build/spi.lst
LoRaSensorCode/build/stm32l0xx_hal_cortex.lst
LoRaSensorCode/build/stm32l0xx_hal_dma.lst
LoRaSensorCode/build/stm32l0xx_hal_exti.lst
LoRaSensorCode/build/stm32l0xx_hal_flash_ex.lst
LoRaSensorCode/build/stm32l0xx_hal_flash_ramfunc.lst
LoRaSensorCode/build/stm32l0xx_hal_flash.lst
LoRaSensorCode/build/stm32l0xx_hal_gpio.lst
LoRaSensorCode/build/stm32l0xx_hal_i2c_ex.lst
LoRaSensorCode/build/stm32l0xx_hal_i2c.lst
LoRaSensorCode/build/stm32l0xx_hal_msp.lst
LoRaSensorCode/build/stm32l0xx_hal_pwr_ex.lst
LoRaSensorCode/build/stm32l0xx_hal_pwr.lst
LoRaSensorCode/build/stm32l0xx_hal_rcc_ex.lst
LoRaSensorCode/build/stm32l0xx_hal_rcc.lst
LoRaSensorCode/build/stm32l0xx_hal_spi.lst
LoRaSensorCode/build/stm32l0xx_hal_tim_ex.lst
LoRaSensorCode/build/stm32l0xx_hal_tim.lst
LoRaSensorCode/build/stm32l0xx_hal_uart_ex.lst
LoRaSensorCode/build/stm32l0xx_hal_uart.lst
LoRaSensorCode/build/stm32l0xx_hal.lst
LoRaSensorCode/build/stm32l0xx_it.lst
LoRaSensorCode/build/system_stm32l0xx.lst
LoRaSensorCode/build/usart.lst
LoRaSensorCode/build/release/build/.ninja_log
LoRaSensorCode/LoRaSensorCode.sln
