# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf
LoRaSensorCode/build/gpio.lst
LoRaSensorCode/build/i2c.lst
LoRaSensorCode/build/main.lst
LoRaSensorCode/build/spi.lst
LoRaSensorCode/build/stm32l0xx_hal_cortex.lst
LoRaSensorCode/build/stm32l0xx_hal_dma.lst
LoRaSensorCode/build/stm32l0xx_hal_exti.lst
LoRaSensorCode/build/stm32l0xx_hal_flash_ex.lst
LoRaSensorCode/build/stm32l0xx_hal_flash_ramfunc.lst
LoRaSensorCode/build/stm32l0xx_hal_flash.lst
LoRaSensorCode/build/stm32l0xx_hal_gpio.lst
LoRaSensorCode/build/stm32l0xx_hal_i2c_ex.lst
LoRaSensorCode/build/stm32l0xx_hal_i2c.lst
LoRaSensorCode/build/stm32l0xx_hal_msp.lst
LoRaSensorCode/build/stm32l0xx_hal_pwr_ex.lst
LoRaSensorCode/build/stm32l0xx_hal_pwr.lst
LoRaSensorCode/build/stm32l0xx_hal_rcc_ex.lst
LoRaSensorCode/build/stm32l0xx_hal_rcc.lst
LoRaSensorCode/build/stm32l0xx_hal_spi.lst
LoRaSensorCode/build/stm32l0xx_hal_tim_ex.lst
LoRaSensorCode/build/stm32l0xx_hal_tim.lst
LoRaSensorCode/build/stm32l0xx_hal_uart_ex.lst
LoRaSensorCode/build/stm32l0xx_hal_uart.lst
LoRaSensorCode/build/stm32l0xx_hal.lst
LoRaSensorCode/build/stm32l0xx_it.lst
LoRaSensorCode/build/system_stm32l0xx.lst
LoRaSensorCode/build/usart.lst
LoRaSensorCode/build/release/build/.ninja_log
LoRaSensorCode/LoRaSensorCode.sln
LoRaSensorCode/*.vcxproj.filters.*
LoRaSensorCode/Drivers/*
LoRaSensorCode/Drivers/CMSIS/Device/ST/STM32L0xx/Include/stm32l0xx.h
LoRaSensorCode/Drivers/CMSIS/Device/ST/STM32L0xx/Include/stm32l071xx.h
LoRaSensorCode/Drivers/CMSIS/Device/ST/STM32L0xx/Include/system_stm32l0xx.h
LoRaSensorCode/Drivers/STM32L0xx_HAL_Driver/Inc/stm32l0xx_hal_adc_ex.h
LoRaSensorCode/Drivers/STM32L0xx_HAL_Driver/Inc/stm32l0xx_hal_adc.h
LoRaSensorCode/Drivers/STM32L0xx_HAL_Driver/Inc/stm32l0xx_hal_cortex.h
LoRaSensorCode/Drivers/STM32L0xx_HAL_Driver/Inc/stm32l0xx_hal_def.h
LoRaSensorCode/Drivers/STM32L0xx_HAL_Driver/Inc/stm32l0xx_hal_dma.h
LoRaSensorCode/Drivers/STM32L0xx_HAL_Driver/Inc/stm32l0xx_hal_exti.h
LoRaSensorCode/Drivers/STM32L0xx_HAL_Driver/Inc/stm32l0xx_hal_flash_ex.h
LoRaSensorCode/Drivers/STM32L0xx_HAL_Driver/Inc/stm32l0xx_hal_flash_ramfunc.h
LoRaSensorCode/Drivers/STM32L0xx_HAL_Driver/Inc/stm32l0xx_hal_flash.h
LoRaSensorCode/Drivers/STM32L0xx_HAL_Driver/Inc/stm32l0xx_hal_gpio_ex.h
LoRaSensorCode/Drivers/STM32L0xx_HAL_Driver/Inc/stm32l0xx_hal_gpio.h
LoRaSensorCode/Drivers/STM32L0xx_HAL_Driver/Inc/stm32l0xx_hal_i2c_ex.h
LoRaSensorCode/Drivers/STM32L0xx_HAL_Driver/Inc/stm32l0xx_hal_i2c.h
LoRaSensorCode/Drivers/STM32L0xx_HAL_Driver/Inc/stm32l0xx_hal_pwr_ex.h
LoRaSensorCode/Drivers/STM32L0xx_HAL_Driver/Inc/stm32l0xx_hal_pwr.h
LoRaSensorCode/Drivers/STM32L0xx_HAL_Driver/Inc/stm32l0xx_hal_rcc_ex.h
LoRaSensorCode/Drivers/STM32L0xx_HAL_Driver/Inc/stm32l0xx_hal_rcc.h
LoRaSensorCode/Drivers/STM32L0xx_HAL_Driver/Inc/stm32l0xx_hal_spi.h
LoRaSensorCode/Drivers/STM32L0xx_HAL_Driver/Inc/stm32l0xx_hal_tim_ex.h
LoRaSensorCode/Drivers/STM32L0xx_HAL_Driver/Inc/stm32l0xx_hal_tim.h
LoRaSensorCode/Drivers/STM32L0xx_HAL_Driver/Inc/stm32l0xx_hal_uart_ex.h
LoRaSensorCode/Drivers/STM32L0xx_HAL_Driver/Inc/stm32l0xx_hal_uart.h
LoRaSensorCode/Drivers/STM32L0xx_HAL_Driver/Inc/stm32l0xx_hal.h
LoRaSensorCode/Drivers/STM32L0xx_HAL_Driver/Inc/stm32l0xx_ll_adc.h
LoRaSensorCode/Drivers/STM32L0xx_HAL_Driver/Inc/stm32l0xx_ll_bus.h
LoRaSensorCode/Drivers/STM32L0xx_HAL_Driver/Inc/stm32l0xx_ll_cortex.h
LoRaSensorCode/Drivers/STM32L0xx_HAL_Driver/Inc/stm32l0xx_ll_crs.h
LoRaSensorCode/Drivers/STM32L0xx_HAL_Driver/Inc/stm32l0xx_ll_dma.h
LoRaSensorCode/Drivers/STM32L0xx_HAL_Driver/Inc/stm32l0xx_ll_exti.h
LoRaSensorCode/Drivers/STM32L0xx_HAL_Driver/Inc/stm32l0xx_ll_gpio.h
LoRaSensorCode/Drivers/STM32L0xx_HAL_Driver/Inc/stm32l0xx_ll_i2c.h
LoRaSensorCode/Drivers/STM32L0xx_HAL_Driver/Inc/stm32l0xx_ll_lpuart.h
LoRaSensorCode/Drivers/STM32L0xx_HAL_Driver/Inc/stm32l0xx_ll_pwr.h
LoRaSensorCode/Drivers/STM32L0xx_HAL_Driver/Inc/stm32l0xx_ll_rcc.h
LoRaSensorCode/Drivers/STM32L0xx_HAL_Driver/Inc/stm32l0xx_ll_system.h
LoRaSensorCode/Drivers/STM32L0xx_HAL_Driver/Inc/stm32l0xx_ll_usart.h
LoRaSensorCode/Drivers/STM32L0xx_HAL_Driver/Inc/stm32l0xx_ll_utils.h
LoRaSensorCode/Drivers/STM32L0xx_HAL_Driver/Inc/Legacy/stm32_hal_legacy.h
LoRaSensorCode/Drivers/STM32L0xx_HAL_Driver/Src/stm32l0xx_hal_adc_ex.c
LoRaSensorCode/Drivers/STM32L0xx_HAL_Driver/Src/stm32l0xx_hal_adc.c
LoRaSensorCode/Drivers/STM32L0xx_HAL_Driver/Src/stm32l0xx_hal_cortex.c
LoRaSensorCode/Drivers/STM32L0xx_HAL_Driver/Src/stm32l0xx_hal_dma.c
LoRaSensorCode/Drivers/STM32L0xx_HAL_Driver/Src/stm32l0xx_hal_exti.c
LoRaSensorCode/Drivers/STM32L0xx_HAL_Driver/Src/stm32l0xx_hal_flash_ex.c
LoRaSensorCode/Drivers/STM32L0xx_HAL_Driver/Src/stm32l0xx_hal_flash_ramfunc.c
LoRaSensorCode/Drivers/STM32L0xx_HAL_Driver/Src/stm32l0xx_hal_flash.c
LoRaSensorCode/Drivers/STM32L0xx_HAL_Driver/Src/stm32l0xx_hal_gpio.c
LoRaSensorCode/Drivers/STM32L0xx_HAL_Driver/Src/stm32l0xx_hal_i2c_ex.c
LoRaSensorCode/Drivers/STM32L0xx_HAL_Driver/Src/stm32l0xx_hal_i2c.c
LoRaSensorCode/Drivers/STM32L0xx_HAL_Driver/Src/stm32l0xx_hal_pwr_ex.c
LoRaSensorCode/Drivers/STM32L0xx_HAL_Driver/Src/stm32l0xx_hal_pwr.c
LoRaSensorCode/Drivers/STM32L0xx_HAL_Driver/Src/stm32l0xx_hal_rcc_ex.c
LoRaSensorCode/Drivers/STM32L0xx_HAL_Driver/Src/stm32l0xx_hal_rcc.c
LoRaSensorCode/Drivers/STM32L0xx_HAL_Driver/Src/stm32l0xx_hal_spi.c
LoRaSensorCode/Drivers/STM32L0xx_HAL_Driver/Src/stm32l0xx_hal_tim_ex.c
LoRaSensorCode/Drivers/STM32L0xx_HAL_Driver/Src/stm32l0xx_hal_tim.c
LoRaSensorCode/Drivers/STM32L0xx_HAL_Driver/Src/stm32l0xx_hal_uart_ex.c
LoRaSensorCode/Drivers/STM32L0xx_HAL_Driver/Src/stm32l0xx_hal_uart.c
LoRaSensorCode/Drivers/STM32L0xx_HAL_Driver/Src/stm32l0xx_hal.c
LoRaSensorCode/Core/Src/Backup/*.bak
