[submodule "LoRaSensorCode/Core/Src/Semtech/sx126x_driver"]
	path = LoRaSensorCode/Core/Src/Semtech/sx126x_driver
	url = https://github.com/Lora-net/sx126x_driver.git
[submodule "LoRaSensorCode/Core/Src/sx126x_driver"]
	path = LoRaSensorCode/Core/Src/sx126x_driver
	url = https://github.com/Lora-net/sx126x_driver.git
